
body
{
    margin: 0;
    padding: 0;
    border: 0;
}

.container-fluid
{
    padding: 0;
    margin: 0;
    border: 0;
}

i
{
    position: relative;
    font-size: 9em;
    color: azure;
    margin: auto;
    top:10%;
}

h2
{
    text-shadow: black 8px 8px 5px;
}

nav
{
    background: linear-gradient(135deg, #014d98, #27415a);
    color: whitesmoke;
}


.title
{
    font-family: 'Ruda', sans-serif;
    color: whitesmoke;
    font-size: 1.50em;
    text-shadow: #014d98 .15em .15em .5em;
}

.navbar
{
    background: linear-gradient(45deg, rgba(54, 54, 54, .75) rgba(74, 74, 74, .75));
    box-shadow: black 0px 7px 7px;
}

.nav-item
{
    font-size: 1.45em;
}

.cus-link
{
    color: whitesmoke;
}


.navtitle
{
    text-shadow: black 3px 5px 5px;
}

.welcome
{
    background: linear-gradient(135deg, #014d98, #27415a);
    color: whitesmoke;
    text-align: center;
    font-family: 'Ruda', sans-serif;
    font-size: 1.2em;
}

.welcome p
{
    background-color: rgba(54, 54, 54);
    border-radius: 250px;
    height: 270px;
    width: 270px;
    text-shadow: black 0px 10px 10px;
    box-shadow: black 5px 5px 5px;
    margin: auto;
    position: relative;
    top: -7.2em;
}

.banner
{
    background: linear-gradient(-135deg, #9a3749, #3d161d);
    height: 5em;
}

.note
{
    position: relative;
    top: -5em;
}

.note0
{
    margin: auto;
    padding-left: 2.5em;
    padding-right: 2.5em;
    text-align: center;
    border-right-color: whitesmoke;
    border-right-style: solid;
    border-right-width: .04em;
    text-shadow: black 2px 3px 3px;
}

.note1
{
    margin: auto;
    padding-left: 2.5em;
    padding-right: 2.5em;
    text-align: center;
    border-left-color: whitesmoke;
    border-left-style: solid;
    border-left-width: .04em;
    text-shadow: black 2px 3px 3px;
}

.landing
{
    background-image: url("assets/landing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 54em;
}

.cta
{
    color:  ghostwhite;
    padding: 1.2em;
    margin-left: 60%;
    margin-right: 10%;
    margin-top: 10%;
    background: linear-gradient(45deg, rgba(54, 54, 54, 1), rgba(74, 74, 74, 1));
    box-shadow: dimgray .7em .7em .7em;
    border-radius: 1.2em;
    text-align: right;
} 

.cta h1 
{
    font-family: 'Ruda', sans-serif;
    text-align: right;
    font-size: 3.8em;
    text-shadow: black 2px 2px 2px;
}

.cta h4
{
    font-family: 'Ruda', sans-serif;
    text-align: right;
    text-shadow: black 1px 1px 1px;
}

.cta button
{
    font-size: 1.4em;
    text-align: center;
}

.cta b
{
    background-color: #9a3749;
}

.cta b
{
    background-color: #9a3749;
}

.schedule 
{
    background: linear-gradient(-135deg, rgba(54, 54, 54), rgb(32, 32, 32));
    color: whitesmoke;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 1.5em;
    font-size: 1.3em;
    margin: auto;
    text-shadow: black 2px 3px 3px;
}

.box-schedule-right
{
    margin: auto;
}

.box-schedule-left
{
    margin: auto;
}

.box-schedule-right0 p
{
    background: linear-gradient(-135deg,#9a3749, #3d161d);
    height: 250px;
    width: 250px;
    border-radius: 250px;
    color: whitesmoke;
    margin: auto;
    text-shadow: black 0px 10px 10px;
    box-shadow: black 5px 5px 5px;
    margin-bottom: 2em;
}

.box-schedule-left0 p
{
    height: 250px;
    width: 250px;
    border-radius: 250px;
    color: whitesmoke;
    margin: auto;
    text-shadow: black 0px 10px 10px;
    box-shadow: black 5px 5px 5px;
    margin-bottom: 2em;
}

.box-schedule-right1 p
{
    background: linear-gradient(-135deg, #014d98, #27415a);
    height: 250px;
    width: 250px;
    border-radius: 250px;
    color: whitesmoke;
    margin: auto;
    text-shadow: black 0px 10px 10px;
    box-shadow: black 5px 5px 5px;
}

.box-schedule-left1 p
{
    height: 250px;
    width: 250px;
    border-radius: 250px;
    color: whitesmoke;
    margin: auto;
    text-shadow: black 0px 10px 10px;
    box-shadow: black 5px 5px 5px;
}

.sunday0
{
    padding: 2em;
    border-style: dashed;
    border-width: .4em;
    border-color: whitesmoke;
    min-height: 13em;
    margin: 2em;
    box-shadow: black 11px 11px 5px;
    background: linear-gradient(-135deg, #014d98, #27415a);
    text-align: center;
}

.sunday1
{
    padding: 2em;
    border-style: dashed;
    border-width: .4em;
    border-color: whitesmoke;
    min-height: 13em;
    margin: 2em;
    box-shadow: black 11px 11px 5px;
    background: linear-gradient(-135deg,#9a3749, #3d161d);
    text-align: center;
}

.box-b0
{
    background: linear-gradient(-135deg, #014d98, #27415a);
    height: 20em;
}

.box-b1
{
    background: linear-gradient(-135deg,#9a3749, #3d161d);
    height: 20em;
}

.border0
{
    margin: 1em;
    border-color: whitesmoke;
    border-style: solid;
    border-width: 10px;
    padding: 2em;
    color: whitesmoke;
}

.mission
{
    background: linear-gradient(-135deg,#9a3749, #3d161d);
    color: whitesmoke;
    text-align: center;
    padding-top: 1.5em;
    padding-bottom: 1.7em;
    text-shadow: black 5px 5px 5px;
    font-size: 1.2em;
    text-justify: newspaper;
    margin: 0;
}

.row
{
    margin: 0;
}

.mission div
{
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin: auto;
}

.mission div h2
{
    height: 2em;
}

.mission h2
{
    text-shadow: black 5px 5px 5px;
    padding-bottom: .5em;
}

.mission p
{
    text-justify: newspaper;
    border-color: whitesmoke;
    border-style: solid;
    border-bottom-style: none;
    border-top-style: none;
    padding: .7em;
    border-radius: 25px;
}

.directions
{
    margin: auto;
    text-align: center;
    background: linear-gradient(-135deg, #014d98, #27415a);
    color: whitesmoke;
    padding: 2.5em;
}

.directions h2
{
    margin-bottom: 1em;
    font-size: 3em;
}

.directions iframe
{
    box-shadow: black 10px 10px 10px;
    border-style: dashed;
    border-width: .4em;
    border-color: whitesmoke;
}

.contact
{
    margin: 0;
    margin: auto;
    text-align: center;
    color: whitesmoke;
    background: linear-gradient(-135deg,#9a3749, #3d161d);
    padding-top: 2.5%;
    text-shadow: black 3px 3px 3px;
    padding-bottom: 2.5%;
    font-size: 1.3em;
}

.contact h3
{
    text-shadow: black 5px 5px 5px;
    font-size: 1.7em;
}

.contact-info
{
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;
}

.contact-field
{
    text-align: left;
    margin: 0;
    padding: 0;
}

.contact-input
{
    text-align: right;
    padding: 0;
    margin: 0;
}

.contact-address
{
    padding: .25em;
    margin: 0;
}

form
{
    margin: auto;
    width: 90%;
}

input, textarea
{
    margin: 1em;
}

.btn
{
    font-size:1.35em;
}

.btn-outline
{
    background-color: #9a3749;
    color: whitesmoke;
    box-shadow: black 3px 3px 3px;
    text-shadow: black 2px 2px 2px;
}

.space
{
    margin: 0;
}

.submit
{
    font-size: 1em;
}

/* Footer */
footer
{
    margin: 0;
    border: 0;
    padding: 2em;
    text-align: center;
    color: #9a3749;
    background: linear-gradient(-135deg, rgba(54, 54, 54), rgb(32, 32, 32));
}

footer>div>div>h2
{
    font-size: 2.08em;
}

footer a
{
    color: whitesmoke;
    text-shadow: black 2px 2px 2px;
}

.calender
{
    background-color: black;
}

.calender iframe
{
    margin: auto;
}

a:link
{
    color: whitesmoke;
}

a:active
{
    color: whitesmoke;
}

a:hover
{
    color: whitesmoke;
    text-decoration: none;
}

.navbar, .navbar-light, .bg-light
{
    color: whitesmoke;
}

.add 
{
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

/*
    Media Queries
*/
@media only screen and (max-width: 1250px) 
{
    .cta h1
    {
        font-size: 2.5em;
    }
}

@media only screen and (max-width: 1000px) 
{

    .collapseOnMobile
    {
        display: none;
        overflow: hidden;
    }

    .box-schedule-left
    {
        margin-top: 2em;
    }

    .schedule
    {
        margin-top: 0;
        padding-top: 0;
    }

    .contact-input
    {
        text-align: center;
    }

    .contact-field
    {
        text-align: center;
    }

    .space
    {
        margin-top: 1em;
        text-align: center;
    }
    
}

@media only screen and (max-width: 875px) 
{
    .cta
    {
        display: none;
        overflow: hidden;
    }   

    .landing
    {
        height: auto;
    }

    .banner
    {
        height: 8em;
    }
 
    .directions
    {
        padding-right: 0.15em;
        padding-left: 0.15em;
    }

    .contact-input
    {
        text-align: center;
    }

    .contact-field
    {
        text-align: center;
    }
}

@media only screen and (max-width: 600px) 
{

    .sunday0, .sunday1
    {
        text-align: center;
    }

    .cta h1
    {
        font-size: 1.5em;
    }

    .contact-directions
    {
        margin-top: 2em;
    }
}

