
body
{
    margin: 0;
    padding: 0;
    border: 0;
}

.container-fluid
{
    padding: 0;
    margin: 0;
    border: 0;
}

i
{
    position: relative;
    font-size: 9em;
    color: azure;
    margin: auto;
    top:10%;
}

h2
{
    text-shadow: black 8px 8px 5px;
}

nav
{
    background: linear-gradient(135deg, #014d98, #27415a);
}


.title
{
    font-family: 'Ruda', sans-serif;
    color: ghostwhite;
    font-size: 2.66em;
    text-shadow: #014d98 .15em .15em .5em;
}

.navbar
{
    background: linear-gradient(45deg, rgba(54, 54, 54, .75) rgba(74, 74, 74, .75));
    box-shadow: black 0px 7px 7px;
}



.navtitle
{
    text-shadow: black 3px 5px 5px;
}

.welcome
{
    background: linear-gradient(135deg, #014d98, #27415a);
    color: whitesmoke;
    text-align: center;
    font-family: 'Ruda', sans-serif;
    font-size: 1.2em;
}

.welcome p
{
    background-color: rgba(54, 54, 54);
    border-radius: 250px;
    height: 270px;
    width: 270px;
    text-shadow: black 0px 10px 10px;
    box-shadow: black 5px 5px 5px;
    margin: auto;
    position: relative;
    top: -7.2em;
}

.banner
{
    background: linear-gradient(-135deg, #9a3749, #3d161d);
    height: 5em;
}

.note
{
    position: relative;
    top: -5em;
}

.note0
{
    margin: auto;
    padding-left: 2.5em;
    padding-right: 2.5em;
    text-align: center;
    border-right-color: whitesmoke;
    border-right-style: solid;
    border-right-width: .04em;
    text-shadow: black 2px 3px 3px;
}

.note1
{
    margin: auto;
    padding-left: 2.5em;
    padding-right: 2.5em;
    text-align: center;
    border-left-color: whitesmoke;
    border-left-style: solid;
    border-left-width: .04em;
    text-shadow: black 2px 3px 3px;
}

.landing
{
    background-image: url("assets/landing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 54em;
}

.cta
{
    color:  ghostwhite;;
    padding: 1.2em;
    margin-left: 60%;
    margin-right: 10%;
    margin-top: 10%;
    background: linear-gradient(45deg, rgba(54, 54, 54, .75), rgba(74, 74, 74, .75));
    box-shadow: dimgray .7em .7em .7em;
    border-radius: 1.2em;
    text-align: right;
} 

.cta h1 
{
    font-family: 'Ruda', sans-serif;
    text-align: right;
    font-size: 3.8em;
}

.cta h4
{
    font-family: 'Ruda', sans-serif;
    text-align: right;
}

.cta button
{
    font-size: 1.4em;
    text-align: center;
}

.schedule 
{
    background: linear-gradient(-135deg, rgba(54, 54, 54), rgb(32, 32, 32));
    color: whitesmoke;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 1.5em;
    font-size: 1.3em;
    margin: auto;
    text-shadow: black 2px 3px 3px;
}

.box-schedule-right
{
    margin: auto;
}

.box-schedule-left
{
    margin: auto;
}

.box-schedule-right0 p
{
    background: linear-gradient(-135deg,#9a3749, #3d161d);
    height: 250px;
    width: 250px;
    border-radius: 250px;
    color: whitesmoke;
    margin: auto;
    text-shadow: black 0px 10px 10px;
    box-shadow: black 5px 5px 5px;
    margin-bottom: 2em;
}

.box-schedule-left0 p
{
    height: 250px;
    width: 250px;
    border-radius: 250px;
    color: whitesmoke;
    margin: auto;
    text-shadow: black 0px 10px 10px;
    box-shadow: black 5px 5px 5px;
    margin-bottom: 2em;
}

.box-schedule-right1 p
{
    background: linear-gradient(-135deg, #014d98, #27415a);
    height: 250px;
    width: 250px;
    border-radius: 250px;
    color: whitesmoke;
    margin: auto;
    text-shadow: black 0px 10px 10px;
    box-shadow: black 5px 5px 5px;
}

.box-schedule-left1 p
{
    height: 250px;
    width: 250px;
    border-radius: 250px;
    color: whitesmoke;
    margin: auto;
    text-shadow: black 0px 10px 10px;
    box-shadow: black 5px 5px 5px;
}

.sunday0
{
    padding: 2em;
    border-style: dashed;
    border-width: .4em;
    border-color: whitesmoke;
    min-height: 13em;
    margin: 1em;
    box-shadow: black 11px 11px 5px;
    background: linear-gradient(-135deg, #014d98, #27415a);
}

.sunday1
{
    padding: 2em;
    border-style: dashed;
    border-width: .4em;
    border-color: whitesmoke;
    min-height: 13em;
    margin: 1em;
    box-shadow: black 11px 11px 5px;
    background: linear-gradient(-135deg,#9a3749, #3d161d);
}

.box-b0
{
    background: linear-gradient(-135deg, #014d98, #27415a);
    height: 20em;
}

.box-b1
{
    background: linear-gradient(-135deg,#9a3749, #3d161d);
    height: 20em;
}

.border0
{
    margin: 1em;
    border-color: whitesmoke;
    border-style: solid;
    border-width: 10px;
    padding: 2em;
    color: whitesmoke;
}

.mission
{
    background: linear-gradient(-135deg,#9a3749, #3d161d);
    color: whitesmoke;
    text-align: center;
    padding-top: 1.5em;
    padding-bottom: 1.7em;
    text-shadow: black 5px 5px 5px;
    font-size: 1.2em;
    text-justify: newspaper;
    margin: 0;
}

.row
{
    margin: 0;
}

.mission div
{
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin: auto;
}

.mission h2
{
    text-shadow: black 5px 5px 5px;
    padding-bottom: .5em;
}

.mission p
{
    text-justify: newspaper;
    border-color: whitesmoke;
    border-style: solid;
    border-bottom-style: none;
    border-top-style: none;
    padding: .7em;
    border-radius: 25px;
}

.directions
{
    margin: auto;
    text-align: center;
    background: linear-gradient(-135deg, #014d98, #27415a);
    color: whitesmoke;
    padding: 2.5em;
}

.directions h2
{
    margin-bottom: 1em;
}

.directions iframe
{
    box-shadow: black 10px 10px 10px;
    border-style: dashed;
    border-width: .4em;
    border-color: whitesmoke;
}

.contact
{
    margin: 0;
    margin: auto;
    text-align: center;
    color: whitesmoke;
    background: linear-gradient(-135deg,#9a3749, #3d161d);
    padding-top: 2.5%;
    text-shadow: black 3px 3px 3px;
    padding-bottom: 5%;
}

.contact h2
{
    text-shadow: black 5px 5px 5px;
}

.contact-info
{
    margin: 0;
    margin-top: 1.75%;
    padding-left: 5%;
    padding-right: 5%;
}

.contact-field
{
    text-align: left;
}

.contact-input
{
    text-align: right;
}

.contact-address
{
    padding: .25em;
}

form
{
    margin: auto;
    width: 90%;
}

input, textarea
{
    margin: 1em;
}

